/* THEME VARIABLES */
:root {
    --bg: #ffffff;
    --text: #000000;
    --header-bg: orangered;
    --card-bg: #ffffff;
    --nav-item-bg: white;
    --nav-hover-bg: green;
    --footer-bg: orangered;
    --cta-bg: orangered;
    --cta-text: white;
}

body.dark {
    --bg: #0e0e0e;
    --text: #f1f1f1;
    --header-bg: #1a1a1a;
    --card-bg: #1c1c1c;
    --nav-item-bg: #222;
    --nav-hover-bg: #444;
    --footer-bg: #1a1a1a;
    --cta-bg: black;
    --cta-text: white;
}

/* KLEM TECH Portfolio - CSS File */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
    scroll-behavior: smooth;
    min-width: 320px;
}

/* HEADER */
.header {
    width: 100%;
    background: var(--header-bg);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}

.theme-toggle {
    background: transparent;
    border: 2px solid black;
    padding: 8px 14px;
    border-radius: 50%;
    cursor: pointer;
    color: orangered;
    font-size: 25px;
    transition: 0.3s ease;
    position: fixed;
    left: 80rem;
    top: 35rem;
}

body.dark .theme-toggle {
    border-color: var(--text);
    color: var(--text);
}


.logo-area {
    display: flex;
    align-items: center;
}

.brand-logo {
    width: 100px;
    height: 100px;
    /* position: absolute; */

}

.brand-name .klem {
    font-family: "Playfair Display", serif;
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px green;
}

.brand-name .tech {
    font-family: "harlow solid italic";
    color: white;
    font-size: 37px;
    font-weight: 700;
    text-transform: lowercase;
}

.nuel {
    font-size: 40px;
    text-shadow: 3px 3px 5px green;
}

/* NAV ICONS */
.nav-icons {
    display: flex;
    gap: 15px;
}

.nav-item {
    background: var(--nav-item-bg);
    color: var(--text);
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .3s ease;
    overflow: hidden;
    width: 40px;
}

.nav-item span {
    opacity: 0;
    color: white;
    white-space: nowrap;
    transition: .3s;
}

.nav-item:hover {
    width: 160px;
    background: var(--nav-hover-bg);
    color: white;
}

.nav-item:hover span {
    opacity: 1;
}


/* HERO SECTION */
.hero {
    min-height: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    position: relative;
    animation: bgSwap 5s infinite;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.hero-content {
    position: relative;
}
.hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.text {
    position: absolute;
    font-size: 40px;
    top: 300px;
    left: 100px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center; 
    
}

.cta-btn {
    margin-top: 20px;
    background: var(--cta-bg);
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 25px;
    position: absolute;
    left: 500px;
    top: 500px;
}

/* BACKGROUND SWAP */
@keyframes bgSwap {
    0% {
        background-image: url('assets/bg1.jpg');
    }

    100% {
        background-image: url('assets/bg2.jpg');
    }
}

/* ABOUT SECTION */
.about {
    background: var(--header-bg);
    padding: 60px 40px;
    height: 100%;
    position: relative;
}

.about-container {
    /* display: flex;
    align-items: center; */
    gap: 40px;
    position: relative;
}

.about-text {
    gap: 50px;
    padding: 40px 40px;
}

.me {
    position: absolute;
    top: -40px;
    font-size: 50px;
    right: 500px;
    padding-bottom: 20px;
    color: var(--text);
}

.about-photo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 8px solid var(--header-bg);
    shape-outside: circle();
    float: left;
    clip-path: circle();
    margin: 20px 40px 20px 0;

}

.about-text p {
    position: relative;
    line-height: 1.6;
    color: var(--text);
}

/* SERVICES */
.services {
    padding: 60px 40px;
    position: relative;
    height: 100%;
}

.services h2 {
    position: absolute;
    left: 500px;
    font-size: 40px;
    top: 0px;
    padding: 20px;

}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    padding: 30px;
    background: var(--card-bg);
    color: var(--text);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.row1,
.row2 {
    display: flex;
    gap: 20px;
}

.row1 .card,
.row2 .card {
    flex: 1;
}

.card-img {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;

}

.card-title {
    position: absolute;
    bottom: 70px;
    left: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 50px;
    z-index: 1;
}

.view-btn {
    display: block;
    background: var(--header-bg);
    color: var(--text);
    transition: 0.3s ease-in-out;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    height: 120px;
}

.view-btn:hover {
    background: var(--text);
    color: var(--bg);
}

.view-btn p {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 69, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s ease;
    z-index: 2;
}

.card-img:hover .card-hover {
    opacity: 1;
}

.hover-btn {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transform: translateY(20px);
    transition: 0.3s ease;
}

.card-img:hover .hover-btn {
    transform: translateY(0);
}

/* SOCIAL */
.social {
    padding: 60px 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: var(--header-bg);
    color: var(--text);
    gap: 0;
}

.social h2 {
    font-size: 40px;
    color: var(--text);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons i {
    height: 100px;
    width: 200px;
    font-size: 50px;
    color: var(--text);
    transition: 0.3s ease;
}

.social-item {
    font-size: 40px;
    cursor: pointer;
    transition: .3s;
}

.social-item:hover {
    transform: scale(1.3);
}

/* REVIEWS */
.reviews {
    padding: 30px 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.reviews h2 {
    padding: 30px 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--text);
    text-shadow: none;
    font-size: 40px;
}

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.review-card {
    background: var(--card-bg);
    color: var(--text);
    border: 1px solid var(--header-bg);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.client-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* FOOTER */
.footer {
    background: var(--footer-bg);
    color: var(--text);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.ocean-footer {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: var(--footer-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}


.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;

    background-size: 50% 120px;
    opacity: 0.5;

}


.wave1 {
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='120' xmlns='http://www.w3.org/2000/svg'><path d='M0 60 Q 150 0 300 60 T 600 60 T 900 60 T 1200 60 V120 H0 Z' fill='%230099ff'/></svg>");
    opacity: 0.1;
    animation-duration: 4s;
    width: 100%;
    height: 250px;
    background-size: 50% 100%;

}

.wave2 {
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='120' xmlns='http://www.w3.org/2000/svg'><path d='M0 60 Q 200 20 400 60 T 800 60 T 1200 60 V120 H0 Z' fill='%2300ccff'/></svg>");
    opacity: 0.5;
    animation-duration: 4s;
    width: 200%;
    height: 250px;
    background-repeat: repeat-x;
    background-size: 50% 100%;

}

.wave3 {
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='120' xmlns='http://www.w3.org/2000/svg'><path d='M0 60 Q 250 40 500 60 T 1000 60 T 1500 60 V120 H0 Z' fill='%2300e6e6'/></svg>");
    opacity: 0.8;
    animation-duration: 4s;
    width: 200%;
    height: 250px;
    background-repeat: repeat-x;
    background-size: 50% 100%;

}

@keyframes waveMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

    /* ============================================
   RESPONSIVE DESIGN (MOBILE + TABLET)
   ============================================ */

@media (max-width: 846px) {
    /* HEADER */
    .header {
        flex-direction: column;
        text-align: center;
        padding: 15px 20px;
        gap: 15px;
    }
    .theme-toggle {
        position: absolute;
        left: 900px;
        top: 1px;
    }


    .brand-logo {
        width: 70px;
        height: 70px;
    }

    .brand-name .klem {
        font-size: 32px;
    }

    .brand-name .tech {
        font-size: 26px;
    }

    .nuel {
        font-size: 28px;
    }

    .nav-icons {
        gap: 10px;
    }
}

/* -------------------------------------------- */
/* MOBILE RESPONSIVE */
/* -------------------------------------------- */

@media (max-width: 768px) {

    /* ===== HEADER ===== */
    .header {
        flex-direction: column;
        height: auto;
        gap: 10px;
        position: relative;
    }
    .hero {
        background-size: 100% 100% !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    .theme-toggle {
        position: fixed;
        left: 650px;
        top: 420px;
    }

    .nav-icons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-item {
        width: 40px;
    }

    .nav-item:hover {
        width: 120px;
    }

    /* ===== HERO ===== */
    .hero {
        height: 90vh;
        background-size: cover;
    }

    .text {
        font-size: 22px;
        position: absolute;
        left: 20px;
        top: px;
        display: flex;
        /* width: 85%; */
    }

    .cta-btn {
        left: 80px;
        top: 400px;
        font-size: 16px;
        padding: 10px 18px;
    }

    .orbit-btn {
        left: 0;
    }

    .orbit-ring {
        width: 90px;
        height: 90px;
    }

    /* ===== ABOUT ===== */
    .about {
        padding: 40px 20px;
        text-align: center;
    }

    .about-container {
        display: block;
    }

    .about-photo {
        width: 250px;
        height: 250px;
        float: none;
        margin: 0 auto 20px;
    }

    .me {
        position: static;
        font-size: 32px;
        margin-bottom: 10px;
    }

    .about-text {
        padding: 0;
        font-size: 16px;
    }
    .myname {
        font-size: 10px;
    }

    /* ===== SERVICES ===== */
    .services {
        padding: 40px 20px;
    }

    .services h2 {
        position: static;
        text-align: center;
        font-size: 28px;
        margin-bottom: 20px;
    }

    .row1,
    .row2 {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .card-title {
        font-size: 18px;
        bottom: 50px;
    }

    /* ===== SOCIAL ===== */
    .social-icons {
        flex-wrap: wrap;
        gap: 10px;
    }

    .social-icons i {
        width: 90px;
        font-size: 30px;
    }

    /* ===== REVIEWS ===== */
    .reviews-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .reviews h2 {
        font-size: 28px;
    }

    /* ===== FOOTER ===== */
    .ocean-footer {
        height: 150px;
    }

    .footer-text {
        font-size: 16px;
        padding: 10px;
    }

    .wave {
        height: 60px;
    }
    .social-icons {
        display: flex;
        flex-wrap: nowrap;
    }
}

/* SMALL PHONES (below 480px) */
@media ( max-width: 480px) {
    .hero {
        background-size: 100% 100% !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }


    .theme-toggle {
        position: fixed;
        left: 400px;
        /* top: 450px; */
    }
    .text {
        position: absolute;
        font-size: 20px;
        /* align-items: center;
        justify-content: center;
        text-align: center; */
        top: 250px;

    }

    .cta-btn {
        top: 360px;
        font-size: 14px;
        padding: 8px 15px;
    }

    .brand-name .klem {
        font-size: 26px;
    }

    .brand-name .tech {
        font-size: 20px;
    }

    .nuel {
        font-size: 22px;
    }
    .view-btn {
        height: 100%;
        background-color: var(--header-bg); /* keeps orangered in light mode */
        color: white; 
    }
    .social-icons {
        display: flex;
        flex-wrap: nowrap;
    }

}
